{% extends 'demoapp/base.html' %}
{% block content %}

<!-- Your report content goes here -->
<h1>Boson to Supergros</h1>
<h3>文件: 博讯 - 销售 - 详细查询 - 产品批量操作 - 产品导出</h3>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
</form>

{% if data %}
<p class="text-dark"> 处理完成,请下载文件 </p>
<p class="text-dark"> Product Amount: {{data.records}} </p>
<p class="text-dark"><a href="{% url 'download_file' %}?source=Boson_to_Supergross.csv">Download File</a></p>
{% else %}
{% endif %}



{% endblock content %}