{% extends 'demoapp/base.html' %}
{% block content %}
<!-- Your report content goes here -->
<h1>GLS快递信息</h1>
<h3>文件1: GLS PDF 文件</h3>
<h3>文件2: 博讯 - 销售 - 详细查询 - 时间:(7天前-当天) - 销售报表</h3>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile1">
    <input type="file" name="myfile2">
    <button type="submit">Upload</button>
</form>

{% if data %}
<p class="text-dark"> 处理完成,请下载文件. 日期: {{data.date_name}}</p>
<p class="text-dark"><a href="{% url 'download_file' %}?source=GLS.xlsx">Download File</a></p>
{% else %}
{% endif %}



{% endblock content %}